@import url(./global.css);


/*--index page--*/
.banner {
    position: relative;
    width: 100%;
    height: auto;
}

.banner video {
    width: 100%;
    height: auto;
}

.banner-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.banner-content .logo {
    display: block;
    height: 100px;
    margin: 0 auto 10px; /* Adjust margin as needed */
}

.banner h2 {
    margin: 0;
    padding: 10px;
    background: linear-gradient(180deg, #72E9D0 0%, #1AA18A 100%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(252, 252, 252, 0.5);
    text-align: center;
}

.mission {
    max-width: 1200px;
    padding: 44px 60px;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(180deg, #DFCAD3 0%, #CBBDD0 100%);
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(204, 52, 166, 0.5);
}
h2 {
    text-align: center;
}

/*courses*/

.courses {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0px auto;
    max-width: 1200px;
    width: 80%;
}

.course {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 0px 50px;
    background: linear-gradient(180deg, #97D1E5 0%, #C3E8E6 100%);
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(204, 52, 191, 0.5);
}

.course2 {
    background: linear-gradient(180deg, #AAB0E0 0%, #EAEAEA 100%);
}

.course3 {
    background: linear-gradient(180deg, #9BC9C8 0%, #C3E8E6 100%);
}

.image-container {
    width: 100%;
    max-width: 194.55px;
    flex-shrink: 0;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 0px 50px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
}
button {
    background-color: #f3611d;
    color: white;
    border: none;
    padding: 5px 10px; 
    font-size: 14px; 
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto; 
    display: block; 
}

button:hover {
    background-color: #a03d10;
}




@media(min-width: 600px) {
    .courses {
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 0 auto;
    }

    .course {
        height: auto;
        width: auto;
    }
}

@media(min-width: 900px) {
    .courses {
        grid-template-columns: 1fr  1fr;
        gap: 10px;
    }
}

@media only screen and (max-width: 599px) {
    .course {

        align-items: center;
    }

    .course1, .course2, .course3 {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .text-container h3 {
        font-size: 15px;
    }

    .text-container p {
        font-size: 12px;
    }

    .image-container {
        width: 100px;
    }
}


.future-goals {
    padding: 20px;
    background: linear-gradient(180deg, #C1AFD9 0%, #EBCCD2 100%);
    box-sizing: border-box;
}

.future-goals h2 {
    text-align: center;
    margin-bottom: 20px;
}

.future-goals .content {
    display: grid;
    gap: 20px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text ul {
    padding: 0;
}

.text ul li {
    margin-bottom: 15px;
    font-size: 15px;
    text-align: left;
    color:rgb(44, 42, 42);
}

@media (min-width: 600px) {
    .future-goals .content {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .text ul li {
        font-size: 18px;
    }
}
.contact {
    padding: 20px;
    background: radial-gradient(50% 50% at 50% 50%, #dd8dba 0%, #ECCDD2 100%);
    box-sizing: border-box;
    margin: 20px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.contact-text {
    text-align: center;
}

.contact-text p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 2;
}

.contact-text button {
    background-color: #f3611d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-text button:hover {
    background-color: #a03d10;
}

@media (min-width: 600px) {
    .contact-content {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .contact-text {
        text-align: left;
        max-width: 600px;
    }
}
.stitch-box {
    padding: 20px;
    background: linear-gradient(90deg, #999 0%, #CDCFF0 100%);
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(204, 133, 52, 0.5);
}


.stitch-box-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.stitch-box-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50px 0px;
    box-shadow: 0 0 10px rgba(204, 52, 166, 0.5);
    border: 1px solid rgb(114, 106, 117);
}


.stitch-box-text {
    text-align: center;
}

.stitch-box-text h2 {
    margin-bottom: 20px;
}

.stitch-box-text p {
    margin-bottom: 20px;
    line-height: 2;
    margin:0 50px;
}

.stitch-box-text button {
    background-color: #6C63FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 0;
}

.stitch-box-text button:hover {
    background-color: #5348C0;
}

@media (min-width: 600px) {
    .stitch-box-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .stitch-box-text {
        text-align: left;
        max-width: 600px;
    }
    .stitch-box-text p {
        margin: 0 50px 20px 50px;    
    }

    .stitch-box-text button {
        margin: 20px auto 0; /* Center the button on larger screens */
    }
}

@media only screen and (min-width: 240px) and (max-width: 900px) and (min-resolution: 2dppx) {
  
    h3{
        font-size: 15px;
    }
        .banner-content .logo{
            height: 50px;
        }
        .banner h2 {
            font-size: 10px;
            font-weight: 400;
        }
        
    .mission{
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
     .text ul li {
        font-size: 12px;
        text-align: left;
     }   
    }